@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #6f6f6f;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.header .left-links,
.header .right-links {
  display: flex;
  gap: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .input {
  margin-bottom: 1em;
}

.content .buttons button {
  color: #1d1d1d;
  font-weight: bold;
  padding: 0.5em 1em;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #eeeeee;
}

.footer .left-links,
.footer .right-links {
  display: flex;
  gap: 1em;
}